<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1037853195333-sqs6bbu6s6f5fvtdq1mvfuddsqajnlio.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1037853195333-sqs6bbu6s6f5fvtdq1mvfuddsqajnlio</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1037853195333-l1dd80ojk9s8acq61q9108pgndfen3n3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC8FPM3gONMLA0T1oc6kD9lMzuPqjpcpZ4</string>
	<key>GCM_SENDER_ID</key>
	<string>1037853195333</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ios.groupathy</string>
	<key>PROJECT_ID</key>
	<string>groupathy-f7074</string>
	<key>STORAGE_BUCKET</key>
	<string>groupathy-f7074.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1037853195333:ios:afefab1d8216158804f72c</string>
	<key>DATABASE_URL</key>
	<string>https://groupathy-f7074.firebaseio.com</string>
</dict>
</plist>